.card {
  position: relative;
  width: 600px;
  padding: 20px;
  max-width: 85vw;
  margin-left: 10px;
  height: 50vh;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0.3);
}

.card > h3 {
  position: absolute;
  bottom: 50px;
  color: white;
}

.card > h4 {
  position: absolute;
  bottom: 30px;
  color: white;
}

.card > h5 {
  position: absolute;
  bottom: 10px;
  color: white;
}

.card_container{
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}

.swipe {
  position: absolute;
}

.swipe_Buttons{
  position: absolute;
  bottom: 20px;
  margin: 20px;
  padding: 0 500px;
  display: flex;
}

.swipe_Buttons button {
  flex-shrink: 0;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  background-color: #063970;
  transition: 200ms;
  margin: 0 10px;
  font-weight: bolder;
  width: 160px;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.10);
}

.swipe_Buttons button:hover {
  transform: scale(1.05);
}